body {
  background-image: url("C:/Git reposit/Nest Nat/HTML/images/blacksea.jpeg");
background-repeat: no-repeat;
background-size: cover;
background-attachment: fixed;  
background-position: center;
}
